# Supabase — public (tarayıcıda görünür, sadece auth için)
NEXT_PUBLIC_SUPABASE_URL=https://xtikjrtxowjcpvbmsgxh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Supabase — gizli (sadece server/API route'larında)
SUPABASE_URL=https://xtikjrtxowjcpvbmsgxh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
