# Supabase — public (tarayıcıda görünür, sadece auth için)
NEXT_PUBLIC_SUPABASE_URL=https://xtikjrtxowjcpvbmsgxh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Supabase — gizli (sadece server/API route'larında)
SUPABASE_URL=https://xtikjrtxowjcpvbmsgxh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0aWtqcnR4b3dqY3B2Ym1zZ3hoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDIwNjEwNSwiZXhwIjoyMDg5NzgyMTA1fQ.vK1r6lRHAT3RAyzvfKnESkaD8-iv1nTtQdMIaOtPAjk
